.stylea
{
	background: #b5bce4;
	text-align: center;
}
.stylea1
{
	background: #b5bce4;
}
.stylea2
{
	background: #b5bce4;
}
.tag
{
	color: #4a376cdb;
	text-align: center;
	
}
#footer
{
	color: #9c53a9;
	text-align: center;
}
body
{
	background: #c5b8db;
}